# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.serverless/air-canada-route-builder.zip
*.pack

.env.local
.env
node_modules/
.next/
gcp-mcp/
.DS_Store
